<div class="row">
  <div class="col-md-12">
    <h3>Admin Section</h3>



    <div style="clear:both">
    </div>

    <div class="col-md-3" style="padding-left: 20px;">
      <button class="btn btn-success" type="button" (click)="initiateLottery()">End Lottery</button>
    </div>

    <div class="col-md-3" style="padding-left: 20px;">
      <button class="btn btn-success" type="button" (click)="initiateLottery()">Rescue initial amount</button>
    </div>

    <div class="col-md-3" style="padding-left: 20px;">
      <button class="btn btn-success" type="button" (click)="initiateLottery()">Reset lottery</button>
    </div>

  </div>
</div>