<div class="row">
  <div class="col-md-6">
    <h3>Loterry details</h3>

    <div class="horizontal-scrollbar">
      <table id="wdpobliclearedreport-data-table" class="table table-bordered nowrap" cellspacing="0" width="100%">
        <tbody>
          <tr >
            <td class="col-md-3"><b>No of Participants</b></td>
            <td>{{participantsNo}}</td>
          </tr>
          <tr >
            <td><b>Pot amount</b></td>
            <td>{{potAmount}}</td>
          </tr>
          <tr >
            <td><b>Minimum stake (in wei)</b></td>
            <td>{{minStake}}</td>
          </tr>
          <tr >
            <td><b>Winner</b></td>
            <td>{{winner}}</td>
          </tr>
          <tr >
            <td><b>Game closed?</b></td>
            <td>{{isGameClosed}}</td>
          </tr>
          <tr >
            <td><b>Admin address</b></td>
            <td>{{adminAddress}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>